
.event-list-container {
  border: 2px solid red;
  max-height: 800px;
  overflow-y: scroll
}

.event-list-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}



.event-list-item-show {
  flex-grow: 0.2;
  text-align: center;
}