.EventDescription-description{
  display: flex;
}
.EventDescription-description--text{
  margin-left: 30px;
}
.EventDescription-description--buttonarea{
  display: flex;
  justify-content: flex-end;
}
.EventDescription-description--button{
  height: 60px;
  width: 80px;
  border-radius: 10px;
  background: red;
  font-size: 20px;
}