.EventParticipantListItem-description{
  display: flex;
  border: black solid 1px;
  padding: 10px 10px
}
.EventParticipantListItem-description--text{
  margin-left: 30px;
}
.EventParticipantListItem-image{
  border-radius: 50%;
}